body {
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #060711;
  font-size: 0.875rem;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3em;
  line-height: 100%;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 2.75em;
  line-height: 100%;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 2.25em;
  line-height: 110%;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 2em;
  line-height: 110%;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.75em;
  line-height: 115%;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.25rem;
  line-height: 130%;
}

p {
  margin-bottom: 0px;
  line-height: 135%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.styles {
  display: none;
}

.section {
  padding: 7.15rem 1rem 5rem 7.15rem;
}

.section.sg-header {
  padding-top: 4.2em;
  padding-bottom: 4.2em;
  background-color: #060711;
  color: #ebeef2;
}

.container {
  width: 26vw;
  max-width: 100%;
  min-width: 26rem;
  margin-right: auto;
  padding: 0em 1em;
}

.container.is-sg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sg_heading {
  font-size: 5em;
  font-weight: 200;
}

.sg_heading.sub {
  margin-bottom: -3.5rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(6, 7, 17, 0.5);
  font-size: 4em;
  font-weight: 600;
}

.sg_heading.sub-2 {
  margin-bottom: -2rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(6, 7, 17, 0.5);
  font-size: 2.8em;
  font-weight: 400;
}

.sg-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  background-color: #fff;
}

.sg_type-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80ch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sg_pill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 0.3em 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  background-color: rgba(6, 7, 17, 0.1);
}

.sg_pill-text {
  font-size: 0.75rem;
  line-height: 135%;
}

.sg_placeholder-p {
  max-width: 50ch;
  margin-top: 1rem;
}

.rich-text {
  max-width: 50em;
}

.rich-text p {
  margin-bottom: 1.5em;
}

.rich-text h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.rich-text h5 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.rich-text h6 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.rich-text li {
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 135%;
}

.rich-text figcaption {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.rich-text h2 {
  margin-top: 2em;
  margin-bottom: 0.75em;
}

.rich-text h3 {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.rich-text h4 {
  margin-top: 3em;
  margin-bottom: 1em;
}

.rich-text ul {
  margin-bottom: 2em;
  padding-left: 3em;
}

.rich-text figure {
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.profile-img-contain {
  width: 4.0625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.profile-img-height {
  position: relative;
  padding-top: 100%;
}

.profile-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(162, 163, 170, 0.2);
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.light {
  color: #a2a3aa;
}

.intro-heading {
  width: 92%;
  max-width: 100%;
  margin-bottom: 4rem;
  font-family: Switzer, sans-serif;
  font-size: 1.625rem;
  line-height: 133%;
  font-weight: 400;
}

.links-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid rgba(162, 163, 170, 0.2);
}

.link-img {
  width: 100%;
  border-radius: 1rem;
}

.img-link {
  width: 100%;
}

.link-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.pill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.1rem;
  padding: 0.5rem 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(162, 163, 170, 0.2);
  border-radius: 100vw;
  background-color: #fff;
  -webkit-transition: all 400ms cubic-bezier(.216, -.005, .175, 1);
  transition: all 400ms cubic-bezier(.216, -.005, .175, 1);
  color: #a2a3aa;
  text-decoration: none;
}

.pill:hover {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-color: #a2a3aa;
  text-decoration: none;
}

.pill.is-static:hover {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  border-color: rgba(162, 163, 170, 0.2);
}

.pill.is-static.is-status {
  cursor: pointer;
}

.pill.is-status {
  cursor: pointer;
}

.link-icon {
  width: 0.75rem;
}

.link-icon.is-submit {
  width: 1.2rem;
  -webkit-transform: translate(0.2rem, 0px);
  -ms-transform: translate(0.2rem, 0px);
  transform: translate(0.2rem, 0px);
}

.link-info {
  padding-left: 0rem;
}

.description {
  width: 24ch;
  margin-top: 0.25rem;
  color: #a2a3aa;
}

.awake-light {
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(162, 163, 170, 0.2);
  border-radius: 100vw;
}

.awake-container {
  position: fixed;
  left: 2rem;
  top: auto;
  right: auto;
  bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.awake-info {
  display: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(162, 163, 170, 0.2);
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 11px -9px rgba(0, 0, 0, 0.27);
}

.awake-info.is-open {
  display: block;
}

.wake-text {
  width: 24ch;
  margin-top: 0.25rem;
  color: #a2a3aa;
}

.submit-button {
  display: none;
}

.input-field {
  height: auto;
  margin-bottom: 0px;
  padding: 1rem 1.5rem 0.25rem 0px;
  border-style: none;
  border-width: 1px;
  border-color: #000 #000 rgba(162, 163, 170, 0.2);
  background-color: transparent;
  font-family: Switzer, sans-serif;
  color: #060711;
  font-size: 0.875rem;
}

.input-field:hover {
  border-bottom-color: #a2a3aa;
}

.input-field:focus-visible {
  border-bottom-color: #a2a3aa;
}

.input-field[data-wf-focus-visible] {
  border-bottom-color: #a2a3aa;
}

.input-field::-webkit-input-placeholder {
  color: #a2a3aa;
}

.input-field:-ms-input-placeholder {
  color: #a2a3aa;
}

.input-field::-ms-input-placeholder {
  color: #a2a3aa;
}

.input-field::placeholder {
  color: #a2a3aa;
}

.form {
  position: relative;
  border-bottom: 1px solid rgba(162, 163, 170, 0.2);
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.form:hover {
  border-bottom-color: #a2a3aa;
}

.form-block {
  display: block;
  min-width: 18rem;
  margin-bottom: 0px;
}

.form-block.is-open {
  display: block;
}

.arrow-submit {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(.216, .007, .175, 1);
  transition: -webkit-transform 500ms cubic-bezier(.216, .007, .175, 1);
  transition: transform 500ms cubic-bezier(.216, .007, .175, 1);
  transition: transform 500ms cubic-bezier(.216, .007, .175, 1), -webkit-transform 500ms cubic-bezier(.216, .007, .175, 1);
}

.arrow-submit:hover {
  -webkit-transform: translate(0.25rem, 0px);
  -ms-transform: translate(0.25rem, 0px);
  transform: translate(0.25rem, 0px);
}

.success-block {
  margin-top: 1rem;
  padding: 0px;
  background-color: transparent;
  text-align: left;
}

.error-block {
  max-width: 30ch;
  margin-top: 0.5rem;
  padding: 0px;
  background-color: transparent;
  color: #962525;
}

.memoji-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(162, 163, 170, 0.2);
  border-radius: 100%;
  background-color: #ebeced;
}

.memoji {
  width: 55%;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 4rem;
    padding-left: 4rem;
  }

  .awake-container {
    left: auto;
    top: 2rem;
    right: 2rem;
    bottom: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .awake-info.is-open {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 1.5rem 1%;
  }

  .profile {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 4rem 1.5rem 2rem;
  }

  .container {
    width: 100%;
    min-width: 0px;
    padding-right: 0em;
    padding-left: 0em;
  }

  .intro-heading {
    width: 23ch;
  }

  .awake-container {
    top: 1rem;
    right: 1rem;
    max-width: 91%;
  }

  .awake-info.is-open {
    max-width: 100%;
  }
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}